h1{
    color: red;
}

p.ungerade{
    background: gray;
}
#p4{

    border-style: solid;
}

ol.klein{
    font-size: small;
    color: blue;
}

div p{
    font-size: large;
    font-weight: bold;
    alignment: center;
}

span.test{
    display: inline-block;
    width: 100px;
    height: 50px;
    padding: 5px;
    border: 2px solid blue;
    background-color: green;
}